/* ////////////////////////////////////////////////////////////////////////////////////////
                                GENERAL RULES
/////////////////////////////////////////////////////////////////////////////////////////*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* ////////////////////////////////////////////////////////////////////////////////////////
                                END GENERAL RULES
/////////////////////////////////////////////////////////////////////////////////////////*/



/* ////////////////////////////////////////////////////////////////////////////////////////
                                START - THE NAVBAR SECTION  
/////////////////////////////////////////////////////////////////////////////////////////*/

nav{
    background: linear-gradient(to right, #4df4bc 0%, #5543ca 100%);
    

    a {
        font-size: .9em;
        color: whitesmoke;
        font-weight: 400;
        cursor: pointer;
        text-decoration: none;
    }
    .nav-link:hover {
        color: black;
        background: white;
    }
    
}
/* ////////////////////////////////////////////////////////////////////////////////////////
                                END - THE NAVBAR SECTION  
/////////////////////////////////////////////////////////////////////////////////////////*/



/* ////////////////////////////////////////////////////////////////////////////////////////
                                START - THE MAIN SECTION  
/////////////////////////////////////////////////////////////////////////////////////////*/

.main{
    background: url(/img/background.PNG);
    background-size: cover;
    width: 100%;
    height: 100vh;
    

    h6 {
        font-size: 1.5rem;
        padding: 1rem;
        letter-spacing: 4px;
    }

    h1 {
        font-size: 5.5rem;
        font-weight: bold;
        padding: 0.1em 0em;
    }
    
}

@media only screen and (max-width: 1275px) {

    .main{
        background: linear-gradient(to top, #5543ca 0%, #4df4bc 100%);

        h6 {
            text-align: center;
            font-size: 1.5rem;
            padding: 1rem;
            letter-spacing: 4px;
        }
    
        h1 {
            text-align: center;
            font-size: 4.5rem;
            font-weight: bold;
            padding: 0.1em 0em;
        }
        .small{
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 60%;
        }
        
    }
}


/* ////////////////////////////////////////////////////////////////////////////////////////
                                END - THE MAIN SECTION  
/////////////////////////////////////////////////////////////////////////////////////////*/


/* ////////////////////////////////////////////////////////////////////////////////////////
                                START - THE ABOUT  SECTION  
/////////////////////////////////////////////////////////////////////////////////////////*/
.about{
    background: linear-gradient(to right, #7d94e7 0%, #45c7b3 100%);
    height: 95vh;

    img{
        opacity: 0.6;
        width: 100%;
        border-radius: 0.4em;
        box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
        padding-top: 10rem;
        padding-right: 1rem;
    }
    h3{
        font-size: .9rem;
        font-weight: 900;
    }

    .progress-title{
        padding-top: 1.7rem;
        
    }
    .btn1{
        display: inline-block;
        background: linear-gradient(to right, #4df4bc 0%, #5543ca 100%);
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 16px;
        padding: 8px 16px;
        border: none;
        width: 200px;
        cursor: pointer;
    }
    .btn2{
        display: inline-block;
        background: linear-gradient(to right, #5543ca 0%, #4df4bc 100%);
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 16px;
        padding: 8px 16px;
        border: none;
        width: 200px;
        cursor: pointer;
    }
    

    @media only screen and (max-width: 1275px) {
        img{
            padding: 0;
            width: 50%;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        .progress-title{
            padding-top: .7rem;
        }
        
        
    }
}


/* ////////////////////////////////////////////////////////////////////////////////////////
                                END - THE ABOUT  SECTION  
/////////////////////////////////////////////////////////////////////////////////////////*/



/* ////////////////////////////////////////////////////////////////////////////////////////
                                START - THE SERVICES SECTION  
/////////////////////////////////////////////////////////////////////////////////////////*/
.section-services {
	padding-top: 110px;
	padding-bottom: 120px;
	font-family: "Poppins", sans-serif;
	background: whitesmoke;
	color: black;
}

.section-services .header-section {
	margin-bottom: 35px;
}

.section-services .header-section .title {
	position: relative;
	margin-bottom: 40px;
	padding-bottom: 25px;
	text-transform: uppercase;
	font-weight: 700;
}

.section-services .header-section .title:before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 140px;
	height: 1px;
	background-color: #4df4bc;
}

.section-services .header-section .title:after {
	content: "";
	position: absolute;
	bottom: -1px;
	left: 50%;
	transform: translateX(-50%);
	width: 45px;
	height: 3px;
	background-color: #5543ca;
}

.section-services .header-section .title span {
	background: linear-gradient(to right, #4df4bc 0%, #5543ca 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
}

.section-services .header-section .description {
	color: #6f6f71;
}

.section-services .single-service {
	margin-top: 40px;
	background-color: #89ccd4;
	box-shadow: 5px 10px 18px #5543ca;
    border-radius: 5px;
}

.section-services .single-service .part-1 {
	padding: 40px 40px 25px;
	border-bottom: 2px solid #1d1e23;
}

.section-services .single-service .part-1 i {
	margin-bottom: 25px;
	font-size: 50px;
	background: linear-gradient(to right, #5543ca 0%, #239771 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
}

.section-services .single-service .part-1 .title {
	font-size: 17px;
	font-weight: 700;
	letter-spacing: 0.02em;
	line-height: 1.8em;
}

.section-services .single-service .part-2 {
	padding: 30px 40px 40px;
}

.section-services .single-service .part-2 .description {
	margin-bottom: 22px;
	color: #6f6f71;
	font-size: 14px;
	line-height: 1.8em;
}

.section-services .single-service .part-2 a {
	color: #fff;
	font-size: 14px;
	text-decoration: none;
}



/* ////////////////////////////////////////////////////////////////////////////////////////
                                END - THE SERVICES SECTION  
/////////////////////////////////////////////////////////////////////////////////////////*/


/* ////////////////////////////////////////////////////////////////////////////////////////
                                START THE Contact SECTION  
/////////////////////////////////////////////////////////////////////////////////////////*/
.contact {
    max-width: 800px;
    margin: 50px auto;
    position: relative;
    box-shadow: 0 10px 30px 0px rgba(0, 0, 0, 0.1);
    padding: 30px;
  
    .title {
      text-transform: uppercase;
      text-align: center;
      letter-spacing: 3px;
      font-size: 3em;
      line-height: 48px;
      padding-bottom: 20px;
      color: #5543ca;
      background: linear-gradient(to right, #4df4bc 0%, #5543ca 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .contact-form {
        .form-field {
            position: relative;
            margin: 32px 0;
        }
        .input-text {
            display: block;
            width: 100%;
            height: 36px;
            border-width: 0 0 2px 0;
            border-color: #5543ca;
            font-size: 18px;
            line-height: 26px;
            font-weight: 400;
            &:focus {
              outline: none;
            }
        }
        .label {
            position: absolute;
            left: 20px;
            bottom: 11px;
            font-size: 18px;
            line-height: 26px;
            font-weight: 400;
            color: #5543ca;
            cursor: text;
            text-transform: capitalize;
            transition: transform 0.2 ease-in-out;
        }
      .submit-btn {
        display: inline-block;
        background: linear-gradient(to right, #4df4bc 0%, #5543ca 100%);
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 16px;
        padding: 8px 16px;
        border: none;
        width: 200px;
        cursor: pointer;
      }
    }
    .contact-form .input-text:focus + .label, 
    .contact-form .input-text.not-empty + .label{
        transform: translateY(-24px);
      }

    @media only screen and (max-width: 1275px) {
        .contact {
            height: 90vh;
        }
    }
  }
/* ////////////////////////////////////////////////////////////////////////////////////////
                              END - THE Contact SECTION  
/////////////////////////////////////////////////////////////////////////////////////////*/